.paymentForm_container{
    // background-image: url('https://i.pinimg.com/originals/ce/40/e8/ce40e8eb24f8cd06914673de41a85d1c.jpg');
    background-image: url('https://images8.alphacoders.com/369/369063.jpg');
    // background-image: url('https://images4.alphacoders.com/895/thumb-1920-895296.jpg');
    // background-image: url('https://www.myrtlebeach.com/wp-content/uploads/2021/07/marcopolopizzeria-1-960x480.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paymentForm_modal{
    background-color: #FEEFED;
    width: 500px;
    border-radius: 15px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 4px 8px 1000px rgba(51, 41, 39, 0.486);

    &_header{
        display: flex;
        align-items: center;

        img{
            width: 18px;
            height: 18px;
            cursor: pointer;
        }

        h2{
            font-size: 17px;
            margin-left: 8px;
        }
    }

    &_pizzaCard{
        display: flex;
        gap: 10px;
        background-color: #ffffff;
        padding: 8px;
        border-radius: 8px;
        margin: 20px 0;

        img{
            width: 60px;
            height: 80px;
            border-radius: 10px;
            object-fit: cover;
        }

        &_div1{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
        }

        &_tittle{
            font-size: 15px;
        }

        &_cyp{
            display: flex;
            justify-content: space-between;
            font-size: 15px;
            font-weight: bold;
        }
    }

    h1{
        font-size: 17px;
        margin-bottom: 15px;
    }

    .paymentForm_form{
        display: flex;
        flex-direction: column;

        label{
            font-size: 15px;
            margin-bottom: 5px;
        }

        input{
            height: 40px;
            border-radius: 5px;
            border: none;
            padding: 15px;
            margin-bottom: 12px;
        }

        input:focus{
            outline: 1px solid #f63d5d;
        }

        &_div1{
            display: flex;
            justify-content: space-between;
            gap: 10px;
        }

        &_div2{
            display: flex;
            flex-direction: column;
            width: 100%;

            input{
                width: 100%;
            }
        }

        button{
            border: none;
            background-color: #f63d5d;
            color: #ffffff;
            height: 40px;
            font-size: 15px;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover{
            box-shadow: 1px 4px 8px 1px rgba(51, 41, 39, .3);
        }
    }
}


//responsive
@media (max-width: 505px) {

    .paymentForm_container{
        padding: 0px 0px;
    }

    .paymentForm_modal{
        width: 100%;
        border-radius: 0;
        height: 100%;
    }
}