///////////////////FORM////////////////

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.main-form {
  //   width: 100vw;
  // border: 1px solid blue;
  height: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://90lineas.com/wp-content/uploads/2023/02/511026.webp");
  background-position-x: 35%;
}
///////////////LOGO CONTAINER
.logo-container {
  // border: 1px solid white;
  width: 100%;
  height: 35vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-justify: center;
  padding-top: 10%;

  &__img {
    transform: rotate(-180deg);
  }
  &__title {
    color: white;
    margin-top: 5%;
  }
}
//////////FORM CONTAINER
.form-container {
  width: 100%;
  height: auto;
  // border: 1px solid white;
  padding: 20px;

  &__title {
    color: white;
    margin-bottom: 3%;
  }

  &__text {
    color: white;
    font-size: 16px;
  }

  
}
//////////////FORMULARIO
.form {
  // border: 1px solid blue;
  width: 100%;
  height: auto;
  margin-top: 10%;
  padding: 20px;
  gap: 20px;

}
.input-container {
  display: flex;
  //   border: 1px solid red;
  margin-bottom: 10%;
  border-bottom: 1px solid white;

  &__img {
    margin-right: 5%;
    margin-bottom: 2%;
    width: 30px;
    height: 30px;
    filter: invert(89%) sepia(29%) saturate(102%) hue-rotate(360deg)
      brightness(106%) contrast(94%);
  }

  &__input {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 16px;
    width: 100%;

    &::placeholder {
      color: white;
      font-size: 16px;
    }
  }
}
.submit-button {
  width: 100%;
  padding: 15px 20px 15px 20px;
  border: none;
  color: rgb(39, 39, 39);
  border-radius: 5px;
}


.register-container {
  margin-bottom: 10%;
}
///////////////////////ERRORES
.error {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 13px;
  margin-bottom: 5%;
  color: rgb(231, 55, 55);
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(243, 205, 205);
}
.error-no-found {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 13px;
  color: rgb(231, 55, 55);
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(243, 205, 205);
  width: 100%;
  margin-top: 5%;
}

@media (min-width: 1000px) {
  .main-form {
    // background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("https://90lineas.com/wp-content/uploads/2023/02/511026.webp");
    display: flex;
  }
  .logo-container {
    padding-top: 18%;
    width: 100vw;
    height: 100%;
  }
  .logo-container__img {
    width: 120px;
    height: 120px;
  }
  .logo-container__title {
    font-size: 35px;
  }
  .form-container {
    width: 100%;
    height: auto;
    padding: 10% 80px 80px 80px;
  }
}
// .form {
//   border: 1px solid blue;
// }
//////////////////FOOTER
.footer-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.restablecer-container__link {
  color: white;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 5%;
}
.register-container {
  text-align: center;

  &__text {
    color: rgb(214, 214, 214);
    font-size: 13px;
    margin-bottom: 4%;
  }
  &__link {
    color: white;
    font-weight: bold;
  }
}

