.search-page{
    background-color: #FEEFED;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .search {
        display: flex;
        justify-content: space-between;
        margin: 0 30px;
        padding: 2px;
        background-color: #fff;
        border: 1px solid #fff;
        color: #8f8f8f;
        z-index: 100;
        input {
            border: none;
            background: transparent;
            margin: 0;
            padding: 7px 8px;
            font-size: 14px;
            color: inherit;
            border: 1px solid transparent;
            border-radius: inherit;
            width: 100%;
            outline: none;
        }
        button {
            overflow: hidden;
            padding: 0;
            margin: 0;
            border: 1px solid transparent;
            background-color: transparent;
            border-radius: inherit;
            opacity: 0.7;
            &:hover{
                opacity: 1;
            }
            img {
                max-width: 35px;
            }
        }
    }

    .text-body{
        text-align: center;
        color: #8f8f8f;
        letter-spacing: 1px;
        height: 100%;
        img{
            margin-top: 40px;
            max-width: 100px;
            height: 25%;
            transform: rotate(190deg);
        }
    }
}
